@import '../../assets/mixins';

.header {
  * {
    color: var(--light-gray-color);
  }

  height: 156px;
  background-color: #47525b;
  box-shadow: 0px 2px 4px 0px #00000040;
  display: flex;
  justify-content: center;

  &-wrapper {
    align-self: center;

    .content {
      display: flex;
      justify-content: space-between;
    }
  }

  .company-logo {
    display: flex;
    flex-direction: column;

    .company-name {
      text-transform: uppercase;
      letter-spacing: 7px;
      font-size: 16px;
      font-weight: 600;
      margin-top: 9px;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    &-list {
      list-style: none;
      display: flex;
      gap: 24px;

      a {
        text-decoration: none;
        color: var(--light-gray-color);
        cursor: pointer;
      }

      .active-link {
        color: var(--yellow-color);
        text-decoration: underline;
      }
    }

    .consultation-btn {
      width: 157px;
      height: 44px;
      margin-left: 49px;
      @include header-btn;
    }
  }

  .interactive-container {
    display: flex;
    justify-content: right;

    &-wrapper {
      width: 375px;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }

    &-text {
      min-width: 178px;
      display: flex;
      justify-content: end;
      font-weight: 600;

      .clicker {
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-btn {
          width: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &:disabled {
            color: #c0c0c0;
            cursor: default;
          }
        }
      }
    }

    &-btn {
      width: 157px;
      height: 44px;
      @include header-btn;
    }
  }
}