<footer class="footer">
  <div class="newsletter container bg-white">
    <div class="newsletter-title">
      <p class="super-title">актуально</p>
      <h2 class="lh-120 fs-26 extra-bold">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <form class="newsletter-form">
      <label class="newsletter-form-label fs-16 semi-bold lh-20px">Введите e-mail адрес</label>
      <input class="newsletter-form-input fs-14 lh-20px" id="newsletter-form-input" placeholder="name@domain.com" type="text">
      <button class="newsletter-form-btn fs-16 semi-bold lh-20px" id="newsletter-form-btn" type="submit">Подписаться на новости</button>
      <p class="newsletter-form-agreements fs-14 semi-bold lh-18px">
        подписываясь на новости, вы автоматически соглашаетесь
        <a class="fs-14 semi-bold lh-18px" href="#" id="newsletter-privacy-policy-ref">с условиями обработки персональных данных</a>
          и 
        <a class="fs-14 semi-bold lh-18px" href="#" id="mailing-rules-ref">правилами рекламных рассылок</a>
      </p>
    </form>
  </div>
  <div class="footer-wrapper container">
    <div class="company">
      <div class="company-info">
        <h4 class="fs-20 bold lh-24px">Компания «РумТибет»</h4>
        <p class="company-info-description">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
      </div>
      <div>
        <div class="contacts">
          <a class="fs-14 semi-bold lh-18px" href="mailto:info@domain.com" id="to-mail-ref">info@domain.com</a>
          <a class="fs-14 semi-bold lh-18px" href="tel:+71234567890" id="to-tel-ref">+7 (123) 456-78-90</a>
        </div>
        <div class="communications">
          <a href="#" id="to-telegram-ref">
            <img src="/icons/communications/telegram.svg">
          </a>
          <a href="#" id="to-vk-ref">
            <img src="/icons/communications/vk.svg">
          </a>
          <a href="#" id="to-pinterest-ref">
            <img src="/icons/communications/pinterest.svg">
          </a>
          <a href="#" id="to-skype-ref">
            <img src="/icons/communications/skype.svg">
          </a>
        </div>
      </div>
    </div>
    <div>
      <h4 class="fs-20 bold lh-24px">Наши услуги</h4>
      <nav class="footer-nav-list">
        <a class="list-element fs-14 lh-18px" href="#">
          <img src="/icons/arrow-right.svg" height="10" id="summer-walks-ref">
          <p>Прогулки в горы летом</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#">
          <img src="/icons/arrow-right.svg" height="10" id="winter-hikes-ref">
          <p>Зимние походы в горы</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#">
          <img src="/icons/arrow-right.svg" height="10" id="visiting-temples-ref">
          <p>Посещение храмов в горах</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#">
          <img src="/icons/arrow-right.svg" height="10" id="extreme-tourism-ref">
          <p>Экстремальные виды туризма</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#">
          <img src="/icons/arrow-right.svg" height="10" id="amazon-jungle-treks-ref">
          <p>Походы в джунглях Амазонии</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#" id="trip-to-africa-ref">
          <img src="/icons/arrow-right.svg" height="10" id="-ref">
          <p>Поездка в Африку</p>
        </a>
      </nav>
    </div>
    <div>
      <h4 class="fs-20 bold lh-24px">Важно для путешествий</h4>
      <nav class="footer-nav-list">
        <a class="list-element fs-14 lh-18px" href="#" id="long-hike-ref">
          <img src="/icons/arrow-right.svg" height="10">
          <p>Как собрать в долгий поход?</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#" id="important-items-ref">
          <img src="/icons/arrow-right.svg" height="10">
          <p>Жизненно важные предметы для похода</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#" id="security-guarantees-ref">
          <img src="/icons/arrow-right.svg" height="10">
          <p>Медицинская страховка, гарантии безопасности</p>
        </a>
        <a class="list-element fs-14 lh-18px" href="#" id="if-you-doctor-ref">
          <img src="/icons/arrow-right.svg" height="10">
          <p>Если вы врач - загляните сюда</p>
        </a>
      </nav>
    </div>
  </div>
  <div class="copyright-container">
    <div class="copyright container">
      <p class="fs-14 semi-bold lh-18px">ИП Константинопольский К.К., 2023</p>
      <a class="fs-14 semi-bold lh-18px" href="#" id="footer-privacy-policy-ref">Политика обработки персональных данных</a>
    </div>
  </div>
</footer>