<div class="users-container">
  <div class="user-card bg-white">
    <div class="user-name-container">
      <h3 class="user-name fs-26 extra-bold">Oliver Sutherland</h3>
      <p class="username bold">@ollie_north</p>
    </div>
    <div class="user-information-container">
      <div class="title-container">
        <h4 class="title extra-bold">Контакты</h4>
        <div class="separator"></div>
      </div>
      <div class="data-list">
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Эл. почта:</h5>
          <p class="light-orange fs-14 bold">sutherland.oliver@gmail.com</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Телефон:</h5>
          <p class="fs-14 bold">+14165550198</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Веб-сайт:</h5>
          <p class="light-orange fs-14 bold">sutherland-dev.com</p>
        </div>
      </div>
      <div class="title-container">
        <h4 class="title extra-bold">Адрес Проживания</h4>
        <div class="separator"></div>
      </div>
      <div class="data-list">
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Город:</h5>
          <p class="light-orange fs-14 bold">Toronto</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Улица:</h5>
          <p class="fs-14 bold">Bay Street 250</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Офис:</h5>
          <p class="light-orange fs-14 bold">Suite 1210</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Индекс:</h5>
          <p class="light-orange fs-14 bold">M5H2N2</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Координаты:</h5>
          <p class="light-orange fs-14 bold">sutherland-dev.com</p>
        </div>
      </div>
      <div class="title-container">
        <h4 class="title extra-bold">Место работы</h4>
        <div class="separator"></div>
      </div>
      <div class="data-list">
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Компания:</h5>
          <p class="light-orange fs-14 bold">Borealis Systems</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Миссия:</h5>
          <p class="fs-14 bold">+14165550198</p>
        </div>
        <div class="data-list-item">
          <h5 class="subtitle fs-14 ">Специализация:</h5>
          <p class="light-orange fs-14 bold">scale-up vertical content-delivery</p>
        </div>
      </div>
    </div>
  </div>
</div>