.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  row-gap: 50px;
  min-height: 1470px;
  background-color: var(--gray-color);
  padding-top: 84px;
  padding-bottom: 120px;
}

.empty-users-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B15757;
  padding-inline: 30px;
  color: var(--white-color);
  border-radius: 20px;
}