.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  row-gap: 50px;
  min-height: 1470px;
  background-color: var(--gray-color);
  padding-top: 84px;
  padding-bottom: 120px;

  .user-card {
    width: 440px;
    height: 630px;
    border-top: 4px solid var(--light-orange-color);
    border-radius: 4px;
    box-shadow: 0px 10px 30px 0px #0000000F;

    * {
      color: var(--thirdary-color);
    }

    .user-name-container {
      padding-top: 35px;
      padding-inline: 30px;
      margin-bottom: 25px;

      .user-name {
        line-height: 29.9px;
      }
  
      .username {
        font-size: 15px;
        line-height: 17.25px;
        margin-top: 3px;
        color: var(--light-orange-color);
      }
    }

    .user-information-container {
      padding-inline: 30px;

      * {
        line-height: 19.6px;
      }

      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 12px;
          line-height: 13.8px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          margin-right: 12px;
        }

        .separator {
          flex-grow: 1;
          height: 1px;
          background-color: #E2E8F0;
        }
      }
      
      .subtitle {
        color: var(--light-green-color);
        font-weight: 400;
      }

      .data-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 12px;
        margin-bottom: 25px;

        &-item {
          display: flex;
          justify-content: space-between;

          .coordinates-container {
            display: flex;
            gap: 4px;

            .coordinate {
              //width: 77px;
              height: 20px;
              text-align: center;
              border: 1px solid #E2E8F0;
              background-color: #F4F7F5;
              font-size: 12px;
              line-height: 20px;
              padding-inline: 6px;
            }
          }

          .mission {
            font-size: 13px;
            font-style: italic;
            max-width: 189px;
            text-align: right;
            color: #667C7C;
          }

          .light-orange {
            color: var(--light-orange-color);
          }
        }
      }
    }
  }
}
