<form class="edit-post-form" [formGroup]="editPostForm">
  <div class="form-field">
    <label>Title: </label>
    <input formControlName="title" type="text" id="title-input">
  </div>
  <div class="form-field">
    <label>Tags: </label>
    <input formControlName="tags" type="text" id="tags-input">
  </div>
  <div class="form-field">
    <label>Views: </label>
    <input formControlName="views" type="number" id="views-input">
  </div>
</form>
<button (click)="onSave()" [disabled]="editPostForm.invalid" id="save-post-btn">Save</button>