<div class="container">
  <h3 class="title fs-26 bold">Добавление нового пользователя</h3>
  <div class="form-wrapper">
    <form class="create-user-form" [formGroup]="createUserForm">
      <div class="form-field">
        <label class="fs-16">Name: </label>
        <input type="text" formControlName="name" id="name-input">
      </div>
  
      <div class="form-field">
        <label class="fs-16">Surname: </label>
        <input type="text" formControlName="surname" id="surname-input">
      </div>
  
      <div class="form-field">
        <label class="fs-16">Email: </label>
        <input type="email" formControlName="email" id="email-input">
      </div>
  
      <div class="form-field">
        <label class="fs-16">Phone: </label>
        <input type="text" formControlName="phone" id="phone-input">
      </div>
  
      <div class="form-field">
        <label class="fs-16">Website: </label>
        <input type="text" formControlName="website" id="website-input">
      </div>
  
      <ng-container formGroupName="address">
        <div class="form-field">
          <label class="fs-16">Address city: </label>
          <input type="text" formControlName="city" id="address-city-input">
        </div>
  
        <div class="form-field">
          <label class="fs-16">Address street: </label>
          <input type="text" formControlName="street" id="address-street-input">
        </div>
  
        <div class="form-field">
          <label class="fs-16">Address suite: </label>
          <input type="text" formControlName="suite" id="address-suite-input">
        </div>
  
        <div class="form-field">
          <label class="fs-16">Address zipcode: </label>
          <input type="text" formControlName="zipcode" id="address-zipcode-input">
        </div>
  
        <ng-container formGroupName="geo">
          <div class="form-field">
            <label class="fs-16">Address geo lat: </label>
            <input type="text" formControlName="lat" id="address-geo-lat-input">
          </div>
  
          <div class="form-field">
            <label class="fs-16">Address geo lng: </label>
            <input type="text" formControlName="lng" id="address-geo-lng-input">
          </div>
        </ng-container>
      </ng-container>
  
      <ng-container formGroupName="company">
        <div class="form-field">
          <label class="fs-16">Company name: </label>
          <input type="text" formControlName="name" id="company-name-input" hoverGradientBorder>
        </div>
  
        <div class="form-field">
          <label class="fs-16">Company catch phrase: </label>
          <input type="text" formControlName="catchPhrase" id="company-catch-phrase-input">
        </div>
  
        <div class="form-field">
          <label class="fs-16">Company bs: </label>
          <input type="text" formControlName="bs" id="company-bs-input">
        </div>
      </ng-container>
    </form>
  </div>
  <button
    class="create-user-btn gradient-border" 
    type="button" 
    (click)="onSubmit()" 
    [disabled]="createUserForm.invalid"
    id="create-user-btn"
    hoverBold
  >
    Добавить
  </button>
</div>