<div class="toasts-container">
  @for (toast of toasts$ | async; track $index) {
    <ng-container [ngTemplateOutlet]="toastTemplate" [ngTemplateOutletContext]="{ showingToast: toast }"></ng-container>
  }
</div>

<ng-template #toastTemplate let-showingToast="showingToast">
  <div class="toast-container">
    <img src="/icons/message.svg">
    <div>
      <p class="fs-16 bold lh-20px">{{ showingToast.type }}</p>
      <p class="fs-14 lh-20px">{{ showingToast.text }}</p>
    </div>
    <button class="close-btn" id="close-message-btn" (click)="closeMessage(showingToast)">
      <img src="/icons/close.svg">
    </button>
  </div>
</ng-template>