@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/nunito-sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}