@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
  font-size: 18px;
  font-style: normal;
  box-sizing: border-box;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.container {
  width: 1180px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 700;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.lh-18px {
  line-height: 18px;
}

.lh-20px {
  line-height: 20px;
}

.lh-24px {
  line-height: 24px;
}

.lh-120 {
  line-height: 120%;
}

.lh-150 {
  line-height: 150%;
}

.primary-section-bg {
  background-color: var(--primary-section-bg-color);
}

.secondary-section-bg {
  background-color: var(--gray-color);
}

.white-icon svg path {
  color: var(--white-color);
}

.black-icon svg path {
  color: var(--black-color);
}

.yellow-icon svg path {
  color: var(--yellow-color);
}

.green-icon svg path {
  color: #45766A;
}

.blue-icon svg path {
  color: #6276AA;
}

.my-app-dark {
  --primary-color: #e0e0e0 !important;
  --secondary-color: #358682 !important;
  --thirdary-color: #72d1cc !important;
  --primary-section-bg-color: var(--black-color) !important;
  --secondary-section-bg-color: #202020 !important;
  --primary-bg-color: var(--black-color) !important;
  --header-bg-color: rgb(20, 20, 20) !important;
  --blog-bg-color: #5e5e5e !important;
  --btn-bg-color: #5e5e5e !important;
  --user-card-bg-color: #252525 !important;
  --coordinate-bg-color: #5e5e5e !important;
  --newslater-bg-color: #5e5e5e !important;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #1A3E3E;
  --thirdary-color: #1D3939;
  --primary-section-bg-color: var(--white-color);
  --secondary-section-bg-color: #F3F5F4;
  --primary-bg-color: var(--white-color);
  --header-bg-color: #47525b;
  --blog-bg-color: #FDFDFD;
  --btn-bg-color: #FDFDFD;
  --user-card-bg-color: #FDFDFD;
  --coordinate-bg-color: #FDFDFD;
  --btn-disabled-bg-color: #c0c0c0;
  --newslater-bg-color: #FDFDFD;
  --input-placeholder-color: #18121E;
  --copyright-bg-color: #18121E;
  --gray-color: #F3F5F4;
  --yellow-color: #F2BE22;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --light-gray-color: #FDFDFD;
  --light-orange-color: #D4A373;
  --light-green-color: #667C7C;
}